{% extends 'base.html.twig' %}

{% block title %}New GemGallery{% endblock %}

{% block body %}
    <h1>Create new GemGallery</h1>

    {{ include('gem_gallery/_form.html.twig') }}

    <a href="{{ path('app_gem_gallery_index') }}">back to list</a>
{% endblock %}
