{% extends 'base.html.twig' %}

{% block title %}List of Members{% endblock %}

{% block body %}
    <h1>List of Members</h1>
    <ul>
        {% for member in members %}
            <li>
                <a href="{{ path('app_member_show', {'id': member.id}) }}">{{ member.email }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
